*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-content: center;
    justify-items: center;
    height: 100vh;
    padding: 15px;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid gray;
}
.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid gray;
    overflow-x: auto;
}
.calculator-keypad{
    display: flex;
    width: 100%;
}
.keypad-numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.keypad-button{
    width: 25%;
    padding: 15px 0px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}
.keypad-button:hover{
    filter: brightness(80%);
    transition: filter .25s;
}
.keypad-button.large{
    width: 50%;
}